<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div>
        <h1>Weather App</h1>
        <div>
            <form action="/" method="post">
                <label for="cityName">Enter City Name</label>
            <input id ="cityName" type="text" name="cityName">
            <button type="submit">submit</button>
            </form>
        </div>
        <div>
            <h1>Weather Details</h1>
            <p><%= cityName %></p>
            <p><%= temperature %> degrees centigrade.</p>
            <p><%= weatherDescription %></p>
            <img src="<%= weatherIcon %>" alt="">
        </div>
    </div>
    <p>Designed and developed by Sampad Adhikary © 2023</p>
    
</body>
</html>

